body {
  margin: 0;
}

h1 {
  margin: 0;
}

.class__first {
  background: #33ae79;
  text-align: center;
  padding: 80px;
}

.class__second {
  background: #620484;
  text-align: center;
  padding: 80px;
}

.class__third {
  background: #e7d33a;
  text-align: center;
  padding: 80px;
}

.class__fourth {
  background: #4ac2d5;
  text-align: center;
  padding: 80px;
}
